@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

body {
    margin: 0;
    padding: 1.5em 0;
    border: 0;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    background-color: #fff;
    text-align: center;
}

figure {
    margin: 0;
}

.app-cattell {
    max-width: 1000px;
}

.box-question {
    border: 1px solid #000;
    display: flex;
}

.box-question-aside {
    background-color: #426284;
    color: #fff;
    text-align: center;
    padding: 1.5em;
}

.box-question-content {
    padding: 1.5em;
}

h2 {
    font-size: 26px;
    font-height: 400;
}