:root {
    --card-edge-width: 10vw;
    --card-gutter: 2vw;
    --card-edge-gutter: calc(var(--card-gutter) + var(--card-edge-width));
    --card-width: calc(100vw - var(--card-gutter) * 2 - var(--card-edge-width) * 2);
}

.cattellQuestionnaire {
    background: #426284;
    /*overflow: hidden;*/
}

.cattellStrip {
    display: flex;
    flex-wrap: nowrap;
    transition: 1s transform ease;
}

.cattellCard {
    flex: 1 0 auto;
    width: var(--card-width);
    margin: 0 var(--card-gutter);
}

.cattellCard:first-child {
    margin-left: var(--card-edge-gutter);
}

.cattellCard:last-child {
    margin-right: var(--card-edge-gutter);
}

.cattellCard h2 {
}
